<h3>{{ mititulo }}</h3>
<hr />
<br />

<ul>
    {% for e in estudiantes %}

    <li>{{e.id}} - {{e.nombre}} - Telefonos: {{e.obtenerCantidadTelef}}</li>

    {% endfor %}
</ul>

<h3>
    Tabla
    <h3 />
    <table border="1" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Telefonos</th>
            </tr>
        </thead>
        <tbody>
            {% for e in estudiantes %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.nombre }}</td>
                <td>{{ e.obtenerCantidadTelef }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No hay registros disponibles.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr />
</h3>
